tr,td {
    width: 80px;
    height: 80px;
    border: 1px solid #ff7d30;
    text-align: center;

}
.trang{
    background:ghostwhite;
}
.den{
    background: #111111;
}
.so{
    background: #ff7d30;
}
table{
    border-spacing: 0px;

}